html {
	font-family: Lato, sans-serif;
	font-weight: 300;
}

body {
	background: #222 url(img/bg.jpg);
}

h1 {
	font-family: Lato, sans-serif;
	font-size: 3.1em;
	color: white;
	font-weight: 100;
	margin-bottom: 0px;
	margin-right: 10px;
	line-height: 1em;
	text-align: right;
}

h3 {
	font-family: Lato, sans-serif;
	font-size: 1.3em;
	color: white;
	font-weight: 300;
	margin-top:10px;
	margin-right:10px;
	margin-bottom: 40px;
	line-height: 1.4em;
	text-align: right;
}

p {
	font-family: Lato, sans-serif;
	color: white;
	margin-top:10px;
	margin-right:10px;
	margin-bottom: 40px;
	line-height: 1.4em;
	text-align: center;
}

ul {
	width: 290px;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 50px; /* try to make this more relative */
	width: 100%;
}

img.round-corner {
	border-radius: 5px;
	border: 2px solid rgb(73,46,71);
}

video.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 50px; /* try to make this more relative */
	width: 100%;
}

video.round-corner {
	border-radius: 5px;
	border: 2px solid rgb(73,46,71);
}

li {
	list-style: none;
	line-height: 1.6em;
	text-align: right;
	visibility: hidden;
}

li:hover {
	list-style: disc;
	color: #ccc;
}

a {
	font-size: 1.2em;
	color: #eee;
	text-decoration: none;
}

#main {
	width: 305px;
	margin: 40px auto;
	line-height: 1.5em;
	padding:10px;
	-webkit-border-radius:15px;
}

span {
	font-family: 'Lato', sans-serif;
	font-size:2em;
	color:white;
}

.fade-scroll {
	opacity: 1;
}

.fade-in {
	visibility: hidden;
}

input[type=checkbox] {
display: none;
}

.container img {
width: 100%;
transition: transform 0.25s ease;
cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
transform: scale(2.5);
cursor: zoom-out;
}