
{% extends "layout.html" %}
{% block content %}
    <h3 class="fade-in"><a href="/about">About me</a></h3>
    <div class="fade-in">
        {% for text in texts %}
            {% if text == "<img_here>" %}
                <img class="center"
                src="{{ url_for('static', filename='img/ira_profile.png') }}"
                alt="Ira Horecka Profile" />
            {% else %}
                <p class="fade-scroll">{{ text }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}