{% extends "layout.html" %}
{% block content %}
    <h3><a href="/projects">Coding projects</a></h3>
    <h3 class="fade-in">Visualizing AC Transit buses</h3>
    <div class="fade-in">
        {% for text in texts %}
            {% if text == "<img_here>" %}
                <img class="fade-scroll center round-corner" 
                src="https://camo.githubusercontent.com/a3966b65fb4439833e4fdd8b0fc0d5e37e6f7f29/68747470733a2f2f692e696d6775722e636f6d2f644c56515264312e676966"
                alt="AC Transit Berkeley/Oakland">
            {% else %}
                <p class="fade-scroll">{{ text }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}