{% extends "layout.html" %}
{% block content %}
    <h3><a href="/bikes">Bike Gallery</a></h3>
    <h3 class="fade-in">{{ content.year }} {{ content.make }} {{ content.model }}</h3>
    <div class="fade-in">
        {% for text in texts %}
            {% if text in img_keys %}
                <div class="container">
                    <img class="center round-corner" 
                    src="/static/bike_img/{{ content.endpoint }}/{{ content.get(text) }}" />
                </div>
            {% else %}
                <p class="fade-scroll">{{ text }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}