{% extends "layout.html" %}
{% block content %}
    <h3 class="fade-in">Working with code and bikes.</h3>
    <ul dir="rtl">
        <li><a href="/projects" title="Coding Projects">Coding Projects</a>
        <li><a href="/bikes" title="Bike Gallery">Bike Gallery</a></li>
        <li><a href="https://www.linkedin.com/in/ira-horecka-3a8877128/" target="_blank" title="LinkedIn">LinkedIn</a></li>
        <li><a href="https://github.com/irahorecka" target="_blank" title="GitHub">GitHub</a></li>
        <li><a href="/about" title="About">About</a></li>
        <!-- <iframe src="https://trinket.io/embed/python/8304f6dfbd" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe> -->
        
    </ul>
{% endblock content %}
