{% extends "layout.html"%}
{% block content %}
    <h3 class="fade-in"><a href="/projects">Coding projects</a></h3>
    <ul dir="rtl">
        <li><a href="/youtube2audio" title="Youtube2Audio">YouTube2Audio</a></li>
        <li><a href="/actransit" title="ACTransitMap">ACTransitMap</a></li>
        <li><a href="/craigslistmining" title="CL_Mining">CL_Mining</a></li>
        <li><a href="/visuaudio" title="visuaudio">visuaudio</a></li>
        <li><a href="/astree" title="astree">astree</a></li>
    </ul>
{% endblock content %}